<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006176216317-ej16ilq6j4acuj4nakip9c7oiir0v9hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006176216317-ej16ilq6j4acuj4nakip9c7oiir0v9hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfpP6c7WLznW99DdgspsgJpFIV3ew-6Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>1006176216317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samawaMobile</string>
	<key>PROJECT_ID</key>
	<string>samawa-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>samawa-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006176216317:ios:cfcff4f9dd5ecef5a3ca94</string>
</dict>
</plist>